html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 100vh;
}

.game {
  text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
}

.review-card .card-header {
  color: rgb(155, 155, 155);
  background-color: white;
}

.review-card .card-body {
  background-color: rgb(18, 13, 59);
}

.review-card .card-title.h5 {
  color: white;
}

.review-card .card-text {
  color: white;
}

.developerCards .card-image {
  width: 1000px;
  height: 2000px;
}

.card {
  text-decoration: "none";
}

.center {
  text-align: center;
}
